body{
    position: relative;
    font-size: 14px;
    background-color: black;
    font-family: 'JetBrains Mono', monospace !important;
}

/* ******* Navigation Bar ******** */
.navbar .container-fluid{
    padding-right: 0px;
}

.navbar{
    border-radius: 0;
    border: 0;
    font-family: 'Andada Pro', serif;
    font-size: 1.15em;
    padding:0px;
    overflow: hidden;
   
}

.active {
    background-color: #E3A841;
}

.navbar-brand{
    display: flex;
    font-size: 1.5em;
    align-items: center;
    text-shadow: 1px 1px 1px #222;
    line-height: 0.75;
    padding: 10px;
}

.navbar-brand>p {
    margin: 0 !important;;
}

/* nav items styling */
.nav-item{
    padding: 10px;
    padding-right: 55px;
    padding-left: 55px;
    border-left: 1px solid #4D4D4D;
}

.nav-item a{
    text-align: center;
}

.nav-item:hover{
    background-color:   #E3A841!important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232, 147, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: rgb(232, 147, 0);
    border-width: 1px;
  }


  .navbar-toggler { 
      margin-right: 5px;
  }

  .cart-button { 
      margin-right: 10px;
      background-color: #E89300;
      padding: 3px 18px 3px 18px;
  }

  .cart-link{ 
    color: black !important;
    font-size: 1.3em;
  }

/******** end of navigation bar *********/


/********* jumbotron **********/

#main-content{
    padding: 0;
}

.jumbotron{
    margin:0px;

}

.btn-row{
    position:absolute;
    top: 70%;
    left: 43%;
    right: 43%;
}

.jumbbtn1 {
    padding: 18px;
    margin-bottom: 20px;
    background-color: #E89300;
    border:1px solid #E89300;
}

.jumbbtn2 {
    padding: 18px;
    margin-bottom: 20px;
    color: #E89300;
    border:1px solid #E89300;
    font-weight: bold;
}

.jumbbtn2:hover {
    font-weight: 400;
}

.arrow {
    box-sizing: border-box;
    height: 2rem;
    width: 2rem;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  
  .arrow-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 90%;
  }



/* ************* Cards ************* */

.my-card{
    width:300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color:white;
}

.card-body{
    padding: 0;
}

#menu-title, #special-title, #map-title {
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;
}



#menu-title span, #special-title span, #map-title span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align:center;
    font-size: 1.3em;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    opacity: 0.7;
}


.blur1{
    background: url('menu2.jpg') no-repeat;
    background-position: center;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    right:0;
    transition: transform .4s;
}

.blur2{
    background: url('specials2.jpg') no-repeat;
    background-position: center;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    right:0;
    transition: transform .4s;
}

.blur1:hover{
    filter: blur(1px);
    transform: scale(1.1);
}

.blur2:hover{
    filter: blur(1px);
    transform: scale(1.1);
}

.blur10{
    background: url('menu2.jpg') no-repeat;
    background-position: center;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    right:0;
    transition: transform .4s;
}

.blur10:hover{
    filter: blur(0px);
    transform: scale(1.1);
}

/* **************** End of Cards **************** */

/* ************* Footer *************** */

.footer {
    color: white;
    font-weight: 500;
    font-size: 0.85em;
    margin-top:30px;
    padding-top:35px;
    padding-bottom:20px;
    background-color: #222;
    border-top: 0;
}

.footer div.row {
    margin-bottom: 15px;
}
#hours,#address {
    line-height: 2;
}
#hours > span, #address > span {
    font-size: 1.2em;
    font-weight: bold;
    color: #E3A841;
}
#address p {
    font-size: 0.8em;
    line-height: 1.8;
    color: #E3A841;
}
#testimonials {
    font-style:italic;
}
#testimonials p:nth-child(2){
    margin-top: 25px;
}
.footer section {
    margin-bottom:0px !important;
}

/* ************ end of Footer ************ */

/* ********** MENU PAGE *********** */

#menu-catagories-title {
    color: #E89300;
    margin-top: 99px;
    margin-bottom: 5px;
    padding:4px;
    border: 1px solid #E89300;
    border-right: 0;
    border-left: 0;

}

.list-card{
    width:200px;
    margin: 10px 20px 10px 20px;
    border-color:white;
}

/* ******* End of Menu Page ******* */

/* ********** Items Page *********** */

.menu-item-title{
    color:#fff
}

.menu-item-details{
    color: #B8B8B8;
}

#item{
    height: 198px;
    width: 100%;
    position:relative;
    overflow: hidden;
}

.row> hr {
    border-top:2px solid #E89300;
}

.item-container {
    margin: 10px 0px 20px 0px;
}

#item span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    text-align:center;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    opacity: 0.7;
}


.item-price{
    color: #E89300;
    margin: 0px;
    font-size: 1.2em !important;
}

.item-price span {
    font-size: 0.7em;
}

          /*** media queries ***/

/* ******** for large devices ******** */
@media(min-width: 1276px)
{
    .nav-item{
        padding: 20px;
        padding-right: 53px;
        padding-left: 53px;
    }

    .jumbotron {
        background: url('pizzabg.jpg') no-repeat;
        background-size: cover;
        height: 920px;
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    .item-card {
        height: 200px;
        width:200px;
    }
}

/* ********* for adjustment ******** */
@media(min-width:1121px) and (max-width:1275px)
{
    .nav-item{
        padding: 20px;
        padding-right: 35px;
        padding-left: 35px;
    }

    .jumbotron {
        background: url('pizzabg.jpg') no-repeat;
        background-size: cover;
        height: 876px;
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    .btn-row{
        position:absolute;
        top: 75%;
        left: 42%;
        right: 42%;
    }

    .item-card {
        height: 180px;
        width:180px;
    }

    #item{
        height: 178px;
    }

}


/* ******** for medium devices ********* */
@media(min-width:992px) and (max-width:1120px)
{
    .nav-item{
        padding: 10px;
        padding-right: 38px;
        padding-left: 38px;
    }

    .jumbotron {
        background: url('pizzabg.jpg') no-repeat;
        background-size: cover;
        height: 768px;
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    .btn-row{
        position:absolute;
        top: 75%;
        left: 41%;
        right: 41%;
    }

    .item-card {
        height: 180px;
        width:180px;
    }

    #item{
        height: 178px;
    }


}

/* ******** for small devices ********* */
@media(max-width:991px) 
{
    .navbar .container-fluid{
        padding-left: 0px;
    }

    .nav-item{
        border-left: 0px;
        border-top: 1px solid #4D4D4D;
    }

    .jumbotron {
        background: url('pizzabg.jpg') no-repeat;
        background-size: cover;
        height: 632px;
        filter: blur(0px);
        -webkit-filter: blur(0px); /*no blur applied on it*/
    }

    #map-card{
        width:100%;
    }

    .btn-row{
        position:absolute;
        top: 50%;
        left: 39%;
        right: 39%;
    }

    .item-card {
        height: 150px;
        width:150px;
    }

    #item{
        height: 148px;
    }

}


@media(max-width:767px)
{
    body{
        padding-bottom:550px;
    }

    #map-card{
        width: 300px;
    }

    .my-card{
        margin:0 auto 15px;
    }

    .footer{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    .footer section {
        margin-bottom:30px;
        text-align: center;
    }
    .footer section:nth-child(3){
        margin-bottom:0;
    }
    .footer section hr {
        width:50%;
    }

    .btn-row{
        position:absolute;
        top: 45%;
        left: 35%;
        right: 35%;
    }

    .list-card{
        margin:0 auto 15px;
    }

    .item-card{
        margin:0 auto 25px;
    }
}

    
@media(max-width:545px)
{
    .btn-row{
        position:absolute;
        top: 45%;
        left: 25%;
        right: 25%;
    }
}